


/* .texto-carousel{
    color:red;
    position: absolute;
     margin-top: -300px; 
    text-align: center;
}
@media(max-width:768px){
    .texto-1{
        visibility: hidden;
    }
}


.texto-1{
    font-size: 60px;
    font-weight: bolder;
} */

.academia{
    /* border: 1px solid blue; */
    margin-top: 50px;
    height: 100%;
}
.texto-academia{
    text-align: center;
}
.imagenes-academia{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 300px;
    margin-bottom: 50px;
}

.imagen1{
    width: 213px;
    height: 300px;
}
h3{
    text-align: center;
}
h3:hover{
    color: #f26522;;
}
.texto-foto{
    text-align: center;
}

@media(max-width:768px){
    .imagenes-academia{
        height: 1200px;
    }
    
    
}

/* Secci贸n2 */

.mozart{
    width: 100%;
    height: 100%;
}

.card-title{
    font-size: 66px;
    color: tomato;
    font-weight: 300;
    text-align: left;
}
#cursiva{
    font-style: italic;
    text-align: center;
    font-size: 20px;
    margin: 20px;
}
#descripcion{
    font-size: 20px;
    text-align: center;
}
.card-body{
    padding-left: 100px;
    margin-top: 50px;
    background-color: #efefef;
}
.col-md-6{
    background-color: #efefef;

}
@media(max-width:768px){
    .card-body{
        padding:0px;
    }
    .card-title{
        font-size: 33px;
        text-align: center;
    }
    .mozart{
        height: 300px;
    }
    }

    /* Seccion3 */
    .preparacion{
        margin-top: 50px;
    }
    .icono{
        width: 60px;
        height: 60px;
        /* border: 1px solid red; */
    }
    
    .preparate{
        
        /* border: 1px solid blue; */
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 90%;
        margin: auto;
    }
    .metodologia{
        text-align: left;
    }
    .logo-texto{
        width: 600px;
        /* border: 1px solid green; */
        margin-right: 20px;
        margin-bottom: 30px;
    }
    .titulo{
        text-align: center;
        margin-bottom: 30px;
    }
    .icono-texto{
        /* border: 1px solid yellow; */
        display: flex;
        align-items: center;
    }
    .icono-texto:hover
    {
        color: #f26522;;
    }

    .texto-3{
        font-size: 20px;
    }
    @media(max-width:768px){
        .logo-texto{
            margin:5px;
            text-align: justify;
        }
        .preparate{
            width: 100%;
        }
    }

    /*Secci贸n4 */

    .perfil{
         /* border: 1px solid red;  */
        height: 100%;
        width: 40%;
        background-color: rgb(255, 255, 255);
        padding: 40px;
        margin-top: 80px;
        margin-bottom: 50px;
       
    }
    .titulo-profesores{
        text-align: center;
        background-color: #efefef;
        margin-top: 50px;
        margin-bottom: 0px;
    }
    .perfil:hover
    {
        background-color: #f26522;;
        color: white;
    }
    .profe{
        border-radius: 50%;
        position: absolute;
        width: 135px;
        height: 135px;
    }
    .nombre-profe{
    margin-left: 150px;
    
    }
    
    .cv{
        
        text-align: justify;
        font-size: 20px;
    }
    .seccion-profesores{
        /* border: 1px solid blue; */
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        margin: auto;
        background-color: #efefef;
    }
    .img-nombre{
        /* border: 1px solid green; */
        height: 120px;
        display: flex;
        align-items: center;
    }
    @media(max-width:768px){
        .seccion-profesores{
            /* border: 2px solid red; */
            display: flex;
            flex-direction: column;
            margin-top: 20px;
        }
        .perfil{
            /* border: 1px solid blue; */
            width: 90%;
            margin: auto;
            padding: 0px;
            height: 100%;
            margin-bottom: 10px;
        }
        .profe{
            border-radius: 50%;
            position: absolute;
            width:80px;
            height: 80px;
        }
        .nombre-profe{
            margin-left: 80px;
            
            }
            
            .cv{
                padding-left:  5px;
                padding-right: 5px;
                text-align: justify;
            }
           
    }

    /*Secci贸n4*/
    .precios-academia{
        border: 1px solid green;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        background-color: #f26522;
     
        /* margin-bottom: 50px; */
       
    }
    .precios{
        /* border: 3px solid red; */
        width: 33%;
        height: 100%;
       
        
    }
    .img-teorico{
        /* border: 1px solid blue; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: white;
    }
    .logotipo{
        width: 79px;
        height: 100px;
        margin-top: 20px;
    }
    .horas{
        text-align: center;
        font-size: 30px;
        margin-bottom: 20px;
        color: white;
    }
    .teorico{
        font-size: 30px;
        margin-top: 20px;
    }
    .precio{
        font-size: 150px;
    }
    .boton{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn.btn-outline-primary{
    color: white;
    }
    #cambio{
        background: rgba(0,0,0,0.12);
        padding-bottom: 20px;
    }

    @media(max-width:768px){
        .precios-academia{
            display: flex;
            flex-direction: column;
        }
        .precios{
            width: 98%;
            margin-bottom: 20px;
        }
        #cambio{
            background-color: tomato;
            padding-bottom: 20px;
        }
    }

    /* Secci贸n contacto*/
.col-md-12{
    margin-bottom: 30px;
}
.col-md-12.text-center{
    margin-top: 20px;
}

.text-center.header{
    color: tomato;
}
.contact{
    background-color: #efefef;
    padding-top: 50px;
    
}
#mensaje{
    height: 200px;
}

/* Footer */

.text-center.text-lg-start{
    background-color: #f26522;;
    color: white;
}
.col-lg-3.col-md-6.mb-4.mb-md-0{
    background-color: #f26522;;
    color: white;

}
.enlaces{
    color: white;
}
